/* //src/styles/Dashboard.css */

/* Contenedor principal */
.dashboard-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(10deg, #ff008c 50%, #ffffff 50%);
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  box-sizing: border-box;

  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  padding: 2rem;

  overflow: hidden; /* el scroll se maneja en la tarjeta */
}

/* Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  color: #fff;
}

.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-cards {
  padding: 2rem;
}

/* Contenido principal */
.dashboard-content {
  background: #ffffff;
  border-radius: 1rem;
  box-shadow:
    0 10px 20px rgba(0,0,0,0.3),
    0 20px 40px rgba(0,0,0,0.3),
    0 30px 60px rgba(0,0,0,0.3);
  width: 100%;
  box-sizing: border-box;
  color: #000;

  height: calc(95vh - 120px); /* Ajusta restando topbar + paddings */
  overflow-y: auto;   /* Scroll vertical si el contenido excede */
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
}

/* Scrollbar para dashboard-content */
.dashboard-content::-webkit-scrollbar {
  width: 8px;               /* Ancho del scrollbar */
}

.dashboard-content::-webkit-scrollbar-track {
  background: #f0f0f0;      /* Fondo del track */
  border-radius: 10px;
  margin: 0.5rem;   /* empuja el track desde los bordes de la card */
}

.dashboard-content::-webkit-scrollbar-thumb {
  background: #000d1f;      /* Color del "thumb" */
  border-radius: 10px;
  transition: background 0.3s;
}

.dashboard-content::-webkit-scrollbar-thumb:hover {
  background: #ff008c;      /* Color al pasar el mouse */
}

/* Para Firefox */
.dashboard-content {
  scrollbar-width: thin;
  scrollbar-color: #000d1f #f0f0f0;
}


/* Main content */
.main-content {
  flex: 1;
  background: linear-gradient(10deg, #ff008c 50%, #ffffff 50%);
  color: #fff;
  display: flex;
  flex-direction: column;
}
